// Place all the styles related to the Analytics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#analytics_options {
  margin-bottom: 10px;
}
#analytics_options select {
  padding: 5px;
}

#analytics_options input[type=submit] {
  padding: 5px 10px;
}

#analytics_options input[type=date] {
  padding: 3px;
}

#most_failed_scenario {
  width: 50%;
  float: left;
}

#longest_running_test {
  width: 50%;
  float: right;
}

#longest_running_test caption, #most_failed_scenario caption, #most_common_errors caption {
  background-color: white;
  font-weight: bold;
  font-size: x-large;
  border: 1px black solid;
}

#most_common_errors {
  width: 100%;
}

#most_failed_longest_run_container{
  margin-bottom: 450px;
}
