// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profiles_table{
  margin-bottom: 1%;
}

#profiles_table input[type=text] {
  padding: 5px;
}

#profiles_table input[type=submit] {
  padding: 5px 30px;
}

#new_profile_name {
  border-radius: 10px;
  padding: 5px;
  width: 24%;
}

#new_profile_submit{
  background-color: white;
  color: black;
  padding: 5px 10px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20px;
}

#new_profile_submit:hover {
  background-color: lawngreen;
}

#new_profile_team {
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
}